{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Travelo{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
   
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}" class="logo-container">
                                        <!-- Favicon -->
                                        <!-- Ensure your favicon link is correct -->
                                        <link rel="icon" href="path/to/favicon.ico" type="image/x-icon">
                                        
                                        <!-- Text Logo -->
                                        <span class="logo-text">Destiny<span style="color: orange;">Drift</span></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation" class="d-flex justify-content-center">
                                            <li><a class="active" href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'upcoming_trips' %}">Upcoming Trips</a></li>
                                            {% if user.is_authenticated %} 
                                                <li><a href="{% url 'my_trips' %}">My trips</a></li>
                                                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                            {% else %}
                                                <li><a href="{% url 'login' %}">Login</a></li>
                                                <li><a href="{% url 'register' %}">Register</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 d-flex justify-content-end align-items-center">
                                <!-- Phone and Social Links -->
                                <div class="d-flex align-items-center" style="margin-right: 20px;">
                                    <i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;"></i>
                                    <p style="margin: 0;">987766544</p>
                                </div>
                                
                                <div class="social_links d-flex align-items-center" style="margin-right: 20px;">
                                    <ul class="d-flex" style="list-style: none; padding: 0; margin: 0;">
                                        <li><a href="#" style="margin-right: 10px;"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#" style="margin-right: 10px;"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#" style="margin-right: 10px;"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
    
                                <!-- User Links -->
                                <div class="user_links d-flex align-items-center">
                                    {% if user.is_authenticated %}
                                        <span style="margin-right: 10px;">Hello, {{ user.first_name }}</span>
                                        <a href="{% url 'logout' %}" title="Logout">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'login' %}" style="margin-right: 10px;">Login</a>
                                        <a href="{% url 'register' %}">Register</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    

    {% block content %}
    {% endblock %}

</body>
</html>
