
{% load static %}
{% include 'compo/header.html' %}

            <!-- header-end -->
<div class="destination_banner_wrap overlay">
    <div class="destination_text text-center">
        <h3>{{ dest.dest_name }}</h3>
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Description</h3>
                    <p>{{ dest.desc }}</p>

                    <!-- Iterate over related day descriptions -->
                    {% for day_description in dest.day_descriptions.all %}
                        <div class="single_destination">
                            <h4>Day-{{ day_description.day_number }}</h4>
                            <p>{{ day_description.description }}</p>
                        </div>
                    {% empty %}
                        <!-- Optional: message to show when there are no day descriptions -->
                        <p>No day descriptions available.</p>
                    {% endfor %}
                </div>

                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Book Now!!</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="submit_btn">
                                <button class="boxed-btn4" type="button" onclick="window.location.href='pessanger_detail_def/{{ dest.dest_name }}'">Book Here</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

    <!-- newletter_area_start  -->
    <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Subscribe Our Newsletter</h4>
                                <p>Subscribe newsletter to get offers and about
                                    new places to discover.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="newsletter_field">
                                            <input type="email" placeholder="Your mail" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit" >Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newletter_area_end  -->

   



  <!-- Modal -->
  <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="serch_form">
            <input type="text" placeholder="Search" >
            <button type="submit">search</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'compo/footer.html' %}


 
</body>

</html>
